__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb
*.out
*.root
*.txt
*.log

*.png
# ignore partially applied patches and their backup
*.rej
*.orig


# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

# ignore some IDE related files
*.xcodeproj
.vscode
.vscode-server/

#ignore mac specific file
.DS_Store


# Ignore everything in CMSSW except the src directory
CMSSW_15_1_0_pre4_PhaseII/biglib/
CMSSW_15_1_0_pre4_PhaseII/bin/
CMSSW_15_1_0_pre4_PhaseII/cfipython/
CMSSW_15_1_0_pre4_PhaseII/config/
CMSSW_15_1_0_pre4_PhaseII/doc/
CMSSW_15_1_0_pre4_PhaseII/external/
CMSSW_15_1_0_pre4_PhaseII/include/
CMSSW_15_1_0_pre4_PhaseII/lib/
CMSSW_15_1_0_pre4_PhaseII/logs/
CMSSW_15_1_0_pre4_PhaseII/objs/
CMSSW_15_1_0_pre4_PhaseII/python/
CMSSW_15_1_0_pre4_PhaseII/static/
CMSSW_15_1_0_pre4_PhaseII/test/
CMSSW_15_1_0_pre4_PhaseII/tmp/
CMSSW_15_1_0_pre4_PhaseII/venv/
CMSSW_15_1_0_pre4_PhaseII/.SCRAM/

